@import url(http://fonts.googleapis.com/css?family=Lato:400,900,700,300);

body {
	background-color: #DFE2E6;
}

*, .tab-focus() {
	outline: 0;
}

td select,
td textarea,
td input[type="text"],
td input[type="password"],
td input[type="datetime"],
td input[type="datetime-local"],
td input[type="date"],
td input[type="month"],
td input[type="time"],
td input[type="week"],
td input[type="number"],
td input[type="email"],
td input[type="url"],
td input[type="search"],
td input[type="tel"],
td input[type="color"],
td .uneditable-input {
	padding: 0;
	margin: 0;
}



/* Table */

.table-bordered thead tr {
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

	.table-bordered thead tr th {
	  padding-top: 10px;
	  padding-bottom: 10px;
	  font-size: 13px;
	  font-weight: 600;
	  color: #444;
	  border-left: 1px solid #F1F1F1;
	  border-right: 1px solid #CCC;
	  -webkit-box-shadow: inset 0 1px 0 #ffffff;
	  -moz-box-shadow: inset 0 1px 0 #ffffff;
	  box-shadow: inset 0 1px 0 #ffffff;
	}

		.table-bordered thead tr th:first-child {
		  border-left-color: #CCC;
		}

		.table-bordered thead tr th:last-child {
		  border-right: none;
		}

		.table-bordered thead th {
		  padding-top: 10px;
		  padding-bottom: 10px;
		  font-size: 13px;
		  font-weight: 400;
		  color: #444;
		  border-left: 1px solid #F1F1F1;
		  border-right: 1px solid #CCC;
		  -moz-box-shadow: inset 0 1px 0 #ffffff;
		  -webkit-box-shadow: inset 0 1px 0 #ffffff;
		  box-shadow: inset 0 1px 0 #ffffff;
		}

		.table-bordered thead th:first-child {
		  border-left-color: #CCC;
		}
		.table-bordered thead th:last-child {
		  border-right: none;
		}

.table-bordered tbody tr:first-child td {
	border-top-color: #CCC;
}

.table-bordered tbody tr td {
  border-left: 1px solid #FFF;
  border-right: 1px solid #DDD;
}

	.table-bordered tbody tr td:first-child {
	  border-left-color: #DDD;
	}

	.table-bordered tbody tr td:last-child {
	  border-right: none;
	}

.table-bordered tbody td {
  border-left: 1px solid #FFF;
  border-right: 1px solid #DDD;
}

.table-bordered tbody tr td:first-child {
  border-left-color: #DDD;
}
.table-bordered tbody tr td:last-child {
  border-right: none;
}

/* Progressbar */

.progress {
    background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2) inset;
    height: 20px;
    overflow: hidden;
}

	td .progress {
		margin-bottom: 0;
	}

.progress .bar {
  #gradient > .vertical(#515151, #2d2d2d);
}

/* Tree */

ul.tree {
	background: #ffffff url(../templates/default/bootstrap/img/list-bg.png) repeat;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
}


 ul.tree, ul.tree ul {
 	list-style-type: none;
 	/*background: url(../templates/default/bootstrap/img/tree-vline.png) repeat-y;*/
 	margin: 0;
 	padding: 0;
 }

 ul.tree ul {
 	padding-left: 30px;
 }

 ul.tree li {
 	margin: 0;
 	padding: 0 12px;
 	line-height: 43px;
 	/*background: url(../templates/default/bootstrap/img/tree-node.png) no-repeat;*/
 	font-weight: bold;
 }

 ul.tree > li:last-child {
 	/*background: transparent url(../templates/default/bootstrap/img/tree-lastnode.png) no-repeat;*/
 }



 /* Login */

 /* Kuborgh Login */
.loginbox {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;

	background: #edeff2; /* Old browsers */
	background: -moz-linear-gradient(top, #edeff2 0%, #d3d9de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edeff2), color-stop(100%,#d3d9de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #edeff2 0%,#d3d9de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #edeff2 0%,#d3d9de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #edeff2 0%,#d3d9de 100%); /* IE10+ */
	background: linear-gradient(to bottom, #edeff2 0%,#d3d9de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeff2', endColorstr='#d3d9de',GradientType=0 ); /* IE6- */

	text-align: center;

	z-index: 99999;

}
	.loginbox .box {
		position: relative;
		margin: 10% auto 0 auto;
		width: 320px;

		background: #ffffff;
		background: -moz-linear-gradient(top, rgba(255,255,255, 1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,0.70) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.96)), color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.70))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.70) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.70) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.70) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.70) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ffffff', endColorstr='#d9ffffff',GradientType=0 ); /* IE6-9 */

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		box-shadow: 0px 2px 2px rgba(0,0,0,0.1), 0px 3px 4px rgba(0,0,0,0.05), 0px 5px 8px rgba(0,0,0,0.05), 0px 5px 13px rgba(0,0,0,0.03), inset 0px 1px 0px rgba(255,255,255,1);

		padding: 20px;

		border: 1px solid #ffffff;

		margin-bottom: 20px;
	}

	.loginbox .box:after {
	    top: 0;
	    -webkit-transform: rotate(2deg);
	    -moz-transform: rotate(2deg); 
	     -ms-transform: rotate(2deg);
	       -o-transform: rotate(2deg);
	          transform: rotate(2deg);
	    z-index: -4;
	}
	.loginbox .box:after {
	    background: #ffffff;
		background: -moz-linear-gradient(top, rgba(255,255,255, 1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,0.70) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.96)), color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.70))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.70) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.70) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.70) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.70) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ffffff', endColorstr='#d9ffffff',GradientType=0 ); /* IE6-9 */

	    content: "";
	    display: block;
	    height: 100%;
	    left: -1px;
	    position: absolute;
	    width: 100%;

	    -webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

	    box-shadow: 0px 2px 2px rgba(0,0,0,0.1), 0px 3px 4px rgba(0,0,0,0.05), 0px 5px 8px rgba(0,0,0,0.05), 0px 5px 13px rgba(0,0,0,0.03), inset 0px 1px 0px rgba(255,255,255,1);
	}

		.loginbox .box h2 {
			text-align: center;
			margin-bottom: 20px;
			color: #4d4d4d;
			text-shadow: 0px 1px 0px #ffffff;
		}

		.loginbox .box input[type="text"], .loginbox .box input[type="password"] {
			width: 300px;
			padding: 10px;
			margin-bottom: 20px;
			box-shadow: 0px 1px 0px #ffffff;
		}


		.loginbox .box input[type="submit"].btn, .loginbox .box button.btn {
			width: 320px;
			padding: 10px;
		}

		.loginbox .box img {
			margin: 20px auto;
		}